Repository jabesq-org/pyatmo: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy

.pre-commit-config.yaml:

# Note: don't use this config for your own repositories. Instead, see
# "Version control integration" in README.md.
default_stages: [commit, push]
exclude: ^(fixtures/)
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.16.0
    hooks:
    - id: pyupgrade
      args: [--py37-plus]
      exclude: 'external_src/int-tools'

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        args: [ --py36-plus ]
        exclude: 'external_src/int-tools'

  - repo: https://github.com/asottile/yesqa
    rev: v1.2.3
    hooks:
      - id: yesqa
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: pipenv run isort
        types: [python]
        exclude: tests/

      - id: black
        name: black
        language: system
        entry: pipenv run black
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: pipenv run pylint
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: pipenv run mypy
        types: [python]
        exclude: tests/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1  # Use the ref you want to point at
    hooks:
      - id: check-ast
      - id: no-commit-to-branch
        args: [--branch, master, --branch, devel]
      - id: forbid-new-submodules
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: debug-statements
      - id: check-toml

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2  # pick a git hash / tag to point to
    hooks:
      - id: flake8
        exclude: (otp)
        additional_dependencies: [flake8-typing-imports==1.10.0]

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.17.0
    hooks:
      - id: setup-cfg-fmt

Add type stub support
  setup.cfg
  src/pyatmo/py.typed
Due: none

Fix type annotation
  src/pyatmo/camera.py
Due: isort, black, pylint, mypy

Minor refactorings
  src/pyatmo/camera.py
Due: isort, black, pylint, mypy

Update changelog
  CHANGELOG.md
Due: none

Bump version
  src/version.py
Due: isort, black, pylint, mypy

Ignore if API omits unimportant attributes in response
  src/pyatmo/public_data.py
Due: isort, black, pylint, mypy

Bump version
  CHANGELOG.md
  src/version.py
Due: isort, black, pylint, mypy

Revert "Bump version"
  CHANGELOG.md
  src/version.py
Due: isort, black, pylint, mypy

Revert "Ignore if API omits unimportant attributes in response"
  src/pyatmo/public_data.py
Due: isort, black, pylint, mypy

Bump version to v5.2.2
  CHANGELOG.md
  src/version.py
Due: isort, black, pylint, mypy

Reapply fix
  src/pyatmo/public_data.py
Due: isort, black, pylint, mypy

Remove unused variables
  src/pyatmo/public_data.py
Due: isort, black, pylint, mypy

tools: Upgrade tools and deps
  CHANGELOG.md
  Pipfile.lock
Due: none

Ensure camera name is not none
  CHANGELOG.md
  src/pyatmo/camera.py
Due: isort, black, pylint, mypy

Extend test case to cover changes
  fixtures/camera_home_data.json
  tests/test_pyatmo_camera.py
Due: black, pylint

Minor camera fixes and tests
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: isort, black, pylint, mypy

Extract methods
  src/pyatmo/camera.py
Due: isort, black, pylint, mypy

ci: Fix Tox configuration for parallel runs
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  setup.cfg
  tox.ini
Due: none

fix: Fix someone_{un}known_seen methods
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: isort, black, pylint, mypy

docs: version is now managed by setuptools scm
  .github/workflows/publish-to-pypi.yml
  .github/workflows/publish-to-test-pypi.yml
  .gitignore
  setup.cfg
  setup.py
  src/version.py
Due: isort, black, pylint, mypy

fix: add 'fetch-depth: 0' for github action checkout
  .github/workflows/publish-to-pypi.yml
  .github/workflows/publish-to-test-pypi.yml
  .github/workflows/pythonpackage.yml
  .github/workflows/release_gh.yml
  setup.py
Due: isort, black, pylint, mypy

Update setup.py
  setup.py
Due: isort, black, pylint, mypy

Split persons by home
  CHANGELOG.md
  src/pyatmo/camera.py
  tests/test_pyatmo_camera.py
Due: isort, black, pylint, mypy

Fix test
  src/pyatmo/camera.py
  tests/conftest.py
  tests/test_async.py
  tests/test_pyatmo.py
  tests/test_pyatmo_camera.py
  tests/test_pyatmo_homecoach.py
  tests/test_pyatmo_publicdata.py
  tests/test_pyatmo_thermostat.py
  tests/test_pyatmo_weatherstation.py
Due: isort, black, pylint, mypy

Make pylint and tox happy
  tests/test_async.py
  tests/test_pyatmo_camera.py
Due: black, pylint

Undo version.py
  src/version.py
Due: isort, black, pylint, mypy

chore: Update tools and fix setup.cfg
  Pipfile
  Pipfile.lock
  setup.cfg
Due: none

Update Changelog
  CHANGELOG.md
  README.md
Due: none

ci: Publish to test.pypi from master
  .github/workflows/publish-to-test-pypi.yml
Due: none

Bump python version to 3.9 for pipenv
  Pipfile
  Pipfile.lock
Due: none

Add vscode tasks
  .vscode/tasks.json
Due: none
